@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
  --primary: #ea580c;
  --primary-light: #fed7aa;
}

body {
  background: var(--background);
  color: var(--foreground);
}
